@page "/"
@using  Models
@inject HttpClient Http

@if (groups == null || teams == null)
{
    <p><em>Loading...</em></p>
}
else
{    
    @foreach (var group in groups)
        {
            <div class="row">
                <div class="col-sm-12"><GroupView group="@group"></GroupView></div>
            </div>
        }
}

@functions {
    Group[] groups;
    Team[] teams;

    protected override async Task OnInitAsync()
    {
        teams = await Http.GetJsonAsync<Team[]>("/sample-data/teams.json");
        groups = await Http.GetJsonAsync<Group[]>("/sample-data/groups.json");

        groups.ToList().ForEach(g =>
        {
            g.Teams = new List<Team>();
            g.Matches = new List<Match>();

            g.TeamNames.ForEach(tn =>
            {
                g.Teams.Add(teams.First(t => t.Name == tn));
            });

            g.MatchNames.ForEach(mn =>
            {
                g.Matches.Add(new Match()
                {
                    Home = teams.First(t => t.Name == mn[0]),
                    Away = teams.First(t => t.Name == mn[1])
                });
            });
        });    
    }
}