@using Models

<h4>Ställning efter @(PlayedMatchCount / Submissions.Count) match@(PlayedMatchCount / Submissions.Count == 1 ? "" : "er")</h4>
<div class="row">
    <div class="col-sm-6">
        Namn
    </div>
    <div class="col-sm-6">
        Poäng
    </div>
</div>
@foreach (var submission in Submissions)
{
    <div class="row">
        <div class="col-sm-6">
            @submission.Name
        </div>
        <div class="col-sm-6">
            @submission.Score
        </div>
    </div>
}


@functions {

    [Parameter]
    private List<Group> Groups { get; set; }
    [Parameter]
    private List<Team> Teams { get; set; }
    [Parameter]
    List<Submission> Submissions { get; set; }
    [Parameter]
    int PlayedMatchCount { get; set; }

}