@using Models
@inject HttpClient Http

<h2>This is a neat listing of all the teams!</h2>

@if (teams == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var team in teams)
    {
        <div class="row">
            <div class="col-sm-8">@team.Name</div>
            <div class="col-sm-4"><img src="@team.FlagUrl" /></div>
        </div>
    }
}

@functions {
    Team[] teams;

    protected override async Task OnInitAsync()
    {
        teams = await Http.GetJsonAsync<Team[]>("/sample-data/teams.json");
    }
}